.container-fluid{
    background-color: red;
}

div{
    margin: 0 auto;
}

<<<<<<< HEAD
h3{
    text-transform:capitalize;
}

.nav-link{
color: brown;
}
ul.nav.nav-pills{
    color: brown; 
}
article i{
    float: right;
    margin: 5px;
}
=======
article i{
    float: right;
    margin: 5px;
}
>>>>>>> develop
